<div class="bg-primary-tint w-full h-[70%] flex">
  <!-- menu -->
  <div class="mx-32 mt-10 bg-white rounded-md h-24 w-full justify-between flex">
    <div class="my-2 ml-8">
      <img src="../../../../assets/logo/logo.jpg" class="h-20 w-40 justify-center items-center">
    </div>

    <div class="flex gap-x-8 h-full items-center px-10">
      <span class="font-semibold cursor-pointer text-black hover:text-primary-base">About </span>
      <span class="font-semibold cursor-pointer text-black hover:text-primary-base">Product Details </span>
      <span class="font-semibold cursor-pointer text-black hover:text-primary-base" (click)="navigateToContact()">Contact </span>
    </div>
  </div> 


</div>
