<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary-contrast'">
    <div class="grid  grid-cols-1 sm:grid-cols-2  gap-4" >
      <div class="flex sm:flex-row flex-col gap-x-3 px-5 ">
        <div class="flex gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0a9a73" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
          </svg>
          <a href="mailto:adeeljaved839@gmail.com" class="text-black hover:text-primary-base cursor-pointer text-sm font-semibold">adeeljaved839@gmail.com</a>            
        </div>

        <div class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0a9a73" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
          </svg>
          <span class="hover:text-primary-base cursor-pointer text-sm font-semibold">15/A, Nest Tower, NYC</span>            
        </div>
      </div>
      <div class="flex justify-center sm:justify-end px-5 gap-x-2 w-full">
        <a href="https://www.facebook.com/RIFIanSurgicals?mibextid=ZbWKwL">
          <img class="h-8 w-8" src="../../../assets/icon/fbIcon.png">
        </a>
        <img class="h-8 w-8" src="../../../assets/icon/instaIcon.png">
        <img class="h-8 w-8" src="../../../assets/icon/whatsappIcon.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="flex flex-col" [fullscreen]="true">
    <app-home-slider></app-home-slider>
    <app-product-listing></app-product-listing>
</ion-content>
